import("sp")
import("rgdal")
importFrom("gstat", "idw", "krige", "vgm", "as.vgm.variomodel", "fit.variogram")
importFrom("fields", "rdist", "rdist.earth")
importFrom("GenKern", "KernSur")
importFrom("methods", "setClass", "setGeneric", "setMethod")
exportPattern("^[[:alpha:]]+")
exportMethods(
    "as.SpatialGrid",
    "changeproj",
    "export",
    "idw",
    "kde",
    "krige",
    "plot",
    "print",
    "rings",
    "show",
    "summary" 
)
exportClasses(
    "prevR" 
)