importFrom("gstat", "idw")
importFrom("gstat", "krige")
importFrom("sp", "plot")
exportPattern("^[[:alpha:]]+")
exportMethods(
    "as.SpatialGrid",
    "changeproj",
    "export",
    "idw",
    "kde",
    "krige",
    "plot",
    "print",
    "rings",
    "show",
    "summary" 
)
exportClasses(
    "prevR" 
)